@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
} */

a {
  text-decoration: none;
  color: inherit;
}

/* //// */

header {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;

  margin-top: 5rem;
  justify-content: space-around;
}

sup {
  font-size: 0.4em;
  vertical-align: super;
}

.search__form,
.search__input {
  width: 100%;
}

.search__input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem; /* padding extra à esquerda pro ícone */
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
  background: #fff
    url("data:image/svg+xml,%3Csvg fill='gray' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 2a8 8 0 105.293 14.293l5.207 5.207 1.414-1.414-5.207-5.207A8 8 0 0010 2zm0 2a6 6 0 110 12A6 6 0 0110 4z'/%3E%3C/svg%3E")
    no-repeat 0.75rem center;
  background-size: 1.2rem;
}

.search__form:focus {
  border-color: #007bff;
}
.main__info--icon-container {
  display: flex;
  flex-direction: row-reverse;
}

.places__container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.places__item,
.places__geolocation {
  cursor: pointer;
  transition: background 0.3s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.places__item:hover,
.places__geolocation:hover {
  background: #f0f0f0;
}

.weather-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  /* margin: auto; */
  /* margin-top: 3rem; */
  /* min-width: 80vw;
  min-height: 80vh; */
  /* background-color: bisque; */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.main__info {
  font-size: 1.6rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  /* transition: all 1.3s ease-in-out; */
}

.main__info--city {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.main__info--icon {
  width: 8rem;
}
.main__info--temp {
  font-size: 5rem;
  font-weight: 700;
}

.main__info--conditions,
.main__info--description {
  font-size: 1.3rem;
}

.main__info--highandlow,
.main__info--rain,
.main__info--alert {
  font-size: 1rem;
}

.main__info--alert {
  color: red;
}

.main__forecast {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.forecast__card--container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.forecast__card {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 10px;
  padding: 0 0.5rem;
  align-items: center;
  justify-content: center;
}

.forecast__item--icon {
  width: 40px;

  object-fit: contain;
  aspect-ratio: 1 / 1;
}

.forecast__item--hour,
.forecast__item--temp {
  font-size: 0.8rem;
  font-weight: 700;
}
